@{
    ViewBag.Title = "BizzWizz Team";
}

<div style="text-align:center">


    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <br />
    <h3>
        BizzWizz Team founded in the mid april 2016.<br />
        4 founding members, gathered from 4 corners of Israel, met in Ruppin Educational Institute.<br />
        Almost from the beginning the team had one goal in mind: Be the first who delivers the message of "ultimate restaurant's shifts management".<br />
        Today we are proud to announced that this goal has been achieved, with flying colors.<br /><br />

        Elisha,Bar,Avi,Yoni – The BizzWizz Team.

    </h3>
    <img src="https://d13yacurqjgara.cloudfront.net/users/75575/screenshots/1739780/bee_logo.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
</div>