@{
    ViewBag.Title = "Contact";
}
<br /><br /><br />
<div style="text-align:center">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <address>
        One BizzWizz Way<br />
        Ruppin,B 22, C 2<br />
        <abbr title="Phone">P:</abbr>
        09-898-1354
    </address>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@BeezWizz.com">BizzWizz2017+Support@BizzWizz.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@BeezWizz.com">BizzWizz2017+Marketing@BizzWizz.com</a>
    </address>
    <br /><br /><br />
</div>